body {
  color: #000;
  font-family: 'Open-Sans', sans-serif;
}
a:link, a:visited, a:hover, a:active {
  color: #000;
  text-decoration: none;
}
#logo {
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}
.navbar {
  height: 60px;
  margin-bottom: 5px;
  padding: 0;
}
.nav-brand {
  padding-top: 1.25rem;
}
#menu {
  list-style-type: none;
  margin: 0;
  padding-top: 1.25rem;
}
#menu li {
  display: inline-block;
  font-size: 1.5rem;
  padding-left: 1rem;
}
#menu a {
  display: inline-block;
  position: relative;
}
#menu a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  transition: width 0s ease, background .5s ease;
}
#menu a:after {
  content:    '';
  display:    block;
  position:   absolute;
  right:      0;
  bottom:     0;
  height:     3px;
  width:      0;
  background: rgb(113, 138, 166);
  transition: width .5s ease;
}
#menu a:hover:before {
  width:      100%;
  background: rgb(113, 138, 166);
  transition: width .5s ease;
}
#menu a:hover:after {
  width: 100%;
  background: transparent;
  transition: all 0s ease;
}
.jumbotron {
  position: relative;
  margin-bottom: 5rem;
  padding-top: 1.875rem;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#head_shot {
  position: absolute;
  top: -3.5rem;
  z-index: 10;
  background-color: #f5f5f5;
  height: 8.5rem;
  width: 8.5rem;
  -webkit-border-radius: 50%;
  -moz-border-radius:    50%;
  border-radius:         50%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#hero-image {
  width: 80%;
  margin: auto;
}
.external_sites img {
  position:  absolute;
  left:      80%;
  top:       76%;
  max-width: 3em;
  margin:    1rem 0;
  float:     right;
}
.jumbotron .external_sites img {
  position: relative;
  max-width: 3em;
  margin: 1rem 0;
}
.portfolio_heading {
  max-width: 15%;
  margin: 3rem auto;
  padding: 1.25rem;
  -webkit-border-radius: 100px / 50px;
  -moz-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.entry_bg {
  background-color:   rgb(233, 236, 239);
  height:             23rem;
  margin:             3rem auto;
  padding:            1rem;
  -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow:    0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  box-shadow:         0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.entry_image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}
.middle {
  transition:       .5s ease;
  opacity:          0;
  position:         absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  top:              55%;
  left:             50%;
  transform:        translate(-50%, -50%);
  -ms-transform:    translate(-50%, -50%)
}
.entry_info {
  color:     rgb(113, 138, 166);
  font-size: 1rem;
  padding: 0.5rem;
}
.portfolio_detail:hover .entry_image {
  opacity: 0.1;
}
.portfolio_detail:hover .middle {
  opacity: 1;
}
.footer {
  min-height: 10rem;
  width: 100%;
  padding: 3rem;
  background-color: rgb(235, 237, 240);
}
.footer form {
  margin: 3rem;
}
