body {
    font-family: 'Open-Sans', sans-serif;
    color: #000;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #000;
}
#logo {
    font-size: 2rem;
    font-weight: bold;
}
.navbar {
    height: 60px;
    margin: 0;
    padding: 0;
}
.nav-brand {
    padding-top: 1.25rem;
}
#menu {
    list-style-type: none;
    margin: 0;
    padding-top: 1.25rem;
}
.navbar li {
    display: inline-block;
    font-size: 1.5rem;
}
.navbar a {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.navbar a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.navbar a:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: #718aa6;
    transition: width .5s ease;
}
.navbar a:hover:before {
    width: 100%;
    background: #718aa6;
    transition: width .5s ease;
}
.navbar a:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
.jumbotron {
    position: relative;
    margin-bottom: 5rem;
    padding-top: 1.875rem;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#head_shot {
    position: absolute;
    top: -3.5rem;
    z-index: 10;
    background-color: #f5f5f5;
    height: 8.5rem;
    width: 8.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius:    50%;
    border-radius:         50%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#hero-image {
    width: 80%;
    margin: auto;
}
.external_sites img {
    max-width: 3em;
    margin: 0 0.2rem;
    float: right;
}
#portfolio_heading {
    max-width: 15%;
    margin: 3rem auto;
    padding: 1.25rem;
    -webkit-border-radius: 100px / 50px;
    -moz-border-radius: 100px / 50px;
    border-radius: 100px / 50px;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.entry_bg {
    height: 16.5rem;
    margin: 3rem auto;
    padding: 1.25rem 1rem;
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.portfolio_entry {
    height: 11.5rem;
}
.footer {
    height: 7rem;
    width: 100%;
    margin-top: 3rem;
    background-color: #ebedf0;
}